/* *********************************navbar************************** */
nav .navbar-brand{
    color: #dc3545 !important; 
    font-weight: bold;
}
nav .nav-link{
    font-size: 18px;
}
/* ********************************header************************** */
header{
    background: url('../img/cover.jpg') no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    position: relative;
}
header h1{
    position: absolute;
    color: #fff;
    top: 40%;
    left: 20%;
}
/* ********************************About************************* */
.about{
   padding: 100px 0;
   background-color: #eee;
}
.line{
    background-color: #dc3545;
    width: 8%;
    height: 3px;
    margin: auto;
}
.about p{
    margin: 40px 0;
}
.about button{
    border-radius: 15px 30px;
}

/* ********************************services******************************* */
.services{padding: 100px 0;}
.services .line{margin-bottom: 30px;}

/* **************************************Our State ***************************/
.state{padding: 100px 0; background-color: #dc3545; color: #fff;}
.state .line{background-color: #fff; margin-bottom: 30px;}
.state i, .state h5, .state span{
    font-size: 30px;
}
/* *****************************clinents *************************/
.client{
    padding: 100px 0;
    background: url('../img/clients.jpg') no-repeat fixed;
    background-size: cover;
    color: #fff;
}
.client .carousel-item{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 30px;
}

.client p{
    font-size: 20px;
    font-weight: bold;
}

.client .line{margin-bottom: 30px;}
.client .carousel{
    position: relative;
}

.client .carousel-indicators{
    position: absolute;
    bottom: -50px;
}

/* *************************************contact*************************** */
.contact{
    padding: 100px 0;
}
.contact .line{
    margin-bottom: 30px;
}
.contact button{
    width: 100%;
}
/* *************************************footer******************************** */
footer{
    padding: 100px 0 50px 0;
    background-color: #343a40;
    color: #fff;

}
footer span{
    color: #dc3545;
}

footer a:hover{
    color: #dc3545;
    text-decoration: none;
}
footer .list{
    list-style: none;
}

footer a{color: #fff;}


